**/Unity/*.csproj
**/Unity/*.sln
Library/

[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Bb]in/
[Oo]bj/
.vs/
.git/

**/Pseudo/DLLs/*.dll
**/Pseudo/DLLs/*.pdb
**/Pseudo/DLLs/*.mdb
**/Pseudo/DLLs/*.pdb.meta
**/Pseudo/DLLs/*.mdb.meta
**/Pseudo/DLLs/Editor/*.dll
**/Pseudo/DLLs/Editor/*.pdb
**/Pseudo/DLLs/Editor/*.mdb
**/Pseudo/DLLs/Editor/*.pdb.meta
**/Pseudo/DLLs/Editor/*.mdb.meta
**/Pseudo/Examples/*.dll
**/Pseudo/Examples/*.pdb
**/Pseudo/Examples/*.mdb
**/Pseudo/Examples/*.pdb.meta
**/Pseudo/Examples/*.mdb.meta

*.csproj
*.csproj.user
*.suo
*.sln